/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    flex: 1 0 0;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-title {
    flex: 10;
    text-align: center;
}

.project-container {
    border: 2px solid darkblue;
}

.to-do-item {
    border: solid 1px blue;
    cursor: pointer;
}

.to-do-item:hover {
    background-color: lightgray;
}

.to-do-content {
  display: block;
}

.to-do-content.collapsed {
  display: none;
}

.form-modal {
  display: none;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.form-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.close {
  grid-row: 1 / 2;
  text-align: right;
}

.to-do-name {
  grid-row: 2 / 3;
}

.to-do-description {
  grid-row: 3 / 4;
}

.to-do-priority {
  grid-row: 4 / 5;
}

.to-do-dueDate {
  grid-row: 5 / 6;
}

.to-do-notes {
  grid-row: 6 / 7;
}

.form button {
  grid-row: 7 / 8;
  grid-column: 0 / 2;
}