body {
    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    flex: 1 0 0;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-title {
    flex: 10;
    text-align: center;
}